* {
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .header {
      display: flex;
      justify-content: space-between;
      flex-basis: auto;
    }
  }